.index__tab {
  display: inline-block;
  background-color: #eeeeee;
  padding: 0.5rem;
  width: 9rem;
  text-align: center;
  border: 1px solid #ddd;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin: 0 0.05rem;
  text-decoration: none;
}

.index__tab:hover, .index__tab--active {
  background-color: #fff;
}

.index__post {
  margin: 0.3rem;
}
